node_modules
npm-debug.log
target
.git
.gitignore
README.md
.env
.env.local
.idea
*.iml
.vscode
.DS_Store
backend/data/*.mv.db
backend/data/*.trace.db
backend/data/*.lock.db
frontend/dist
frontend/node_modules
*.log

