# fly.toml app configuration file for resume-builder-app-misty-waterfall-5852
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'resume-builder-app-misty-waterfall-5852'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'
  JAVA_OPTS = '-Xms512m -Xmx1536m'
  SPRING_PROFILES_ACTIVE = 'prod'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

  [[http_service.checks]]
    interval = '30s'
    timeout = '15s'
    grace_period = '180s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 2048
